[package]
name = "atlas_77"
version = "0.5.2"
edition = "2021"
description = "Programming language with strong interoperability with Rust (WIP)"
authors = ["Gipson62", "ElhamAryanpur"]
license = "MIT"
repository = "https://github.com/atlas77-lang/Atlas77"
keywords = ["programming", "language", "compiler", "atlas77"]
categories = ["compilers"]
homepage = "https://atlas77-lang.github.io/Atlas77/docs/latest/index.html"
readme = "README.md"


[profile.release]
#opt-level = 3
panic = "abort"
lto = true
codegen-units = 1
overflow-checks = false
debug-assertions = false
strip = "debuginfo"
[profile.release.package."*"]
opt-level = 3
codegen-units = 1

[lib]
doctest = false

[[bin]]
name = "atlas_77"
path = "src/main.rs"

[dependencies]

# For the CLI
clap = { version = "4.5.26", features = ["derive"] }
# For the Standard Library
# For the Parser
bumpalo = "3.16.0"
# For pretty printing of errors
miette = { version = "7.4.0", features = ["fancy"] }
ron = "0.8.1"
thiserror = "2.0.11"
logos = "0.16.0"
serde = { version = "1.0.217", features = ["derive"] }
rand = "0.9.0"
time = { version = "0.3.37", features = ["formatting"] }
heck = "0.5.0"
